<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'registrar/style.css' %}"/>
        <title>Add Course | USIU Registrar</title>
    </head>
    <body>
        <div class="page-header">
            <h2>USIU Africa Registrar Portal</h2>
        </div>
        <nav class="nav-bar">
            <a class="menu-item" href="{% url 'registrar:dashboard' %}">Dashboard</a>
            <a class="menu-item" href="{% url 'registrar:add_course' %}">Add Course</a>
            <a class="menu-item" href="{% url 'registrar:view_course' %}">View Course</a>
            <a class="menu-item" href="{% url 'registrar:view_student' %}">View Student</a>
            <a class="menu-item" href="{% url 'registrar:log_out' %}">Log Out</a>
        </nav>
        <h2 class="content-header">Add Course</h2><hr>
        {% if messages %}
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
        <br><hr><br>
        {% endif %}
        <form  id="add-course-container" action="{% url 'registrar:save_course' %}" method="POST">
            {% csrf_token %}
            <div class="add-fieldset">
                <label for="id_course_id">Course ID </label> {{ form.course_id }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_course_name">Course Name </label> {{ form.course_name }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_instructor">Instructor </label> {{ form.instructor }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_semester">Semester </label> {{ form.semester }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_year">Year </label> {{ form.year }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_day">Day </label> {{ form.day }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_time">Time </label> {{ form.time }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_start_date">Start Date </label> {{ form.start_date }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_end_date">End Date </label> {{ form.end_date }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_location">Location </label> {{ form.location }} <br><br>
            </div>
            <div class="add-fieldset">
                <label for="id_department">Department </label> {{ form.department }} <br><br>
            </div>
            <div class="add-fieldset">
            <label for="id_seats">Seats </label> {{ form.seats }} <br><br>
            </div>
            <div class="add-fieldset">
                <input type="submit" id="add-button" value="Add Course"/><br><br>
            </div>
        </form>
    </body>
</html>