<!DOCTYPE html>
<html lang="en-us" >
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'registrar/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
        <title>Sign In | USIU Registrar</title>
    </head>
    <body class="login">
        <div id="container">
            <div id="header">
                <div id="branding">
                    <h1 id="site-name"><a href="{% url 'registrar:home' %}">Registrar Log In</a></h1>
                </div>
            </div>
            <div id="content" class="colM">
                <div id="content-main">
                    <form action="{% url 'registrar:signin' %}" method="post" id="login-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <label class="required" for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" type="text" />
                        </div>
                        <div class="form-row">
                            <label class="required" for="id_password">Password:</label> <input id="id_password" name="password" type="password" />
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                        {% endfor %}
                        {% endif %}
                        <div class="submit-row">
                            <label>&nbsp;</label><input type="submit" value="Log in" />
                        </div>
                    </form>
                <script type="text/javascript">
                    document.getElementById('id_username').focus()
                </script>
                </div>
                <br class="clear" />
            </div>
            <div id="footer"></div>
        </div>
    </body>
</html>
