<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'registrar/style.css' %}"/>
        <title>Update Student | USIU Registrar</title>
    </head>
    <body>
        <div class="page-header">
            <h2>USIU Africa Registrar Portal</h2>
        </div>
        <nav class="nav-bar">
            <a class="menu-item" href="{% url 'registrar:dashboard' %}">Dashboard</a>
            <a class="menu-item" href="{% url 'registrar:add_course' %}">Add Course</a>
            <a class="menu-item" href="{% url 'registrar:view_course' %}">View Course</a>
            <a class="menu-item" href="{% url 'registrar:view_student' %}">View Student</a>
            <a class="menu-item" href="{% url 'registrar:log_out' %}">Log Out</a>
        </nav>
        <h2 class="content-header">Update Student Information</h2><hr>
        {% if messages %}
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
        <br><hr>
        {% endif %}
        {% if form %}
        <form id="update-student-form" action="{% url 'registrar:edit_student' sid=id %}" method="POST">
            {% csrf_token %}
            <div id="student-name-info">
                <label for="id_student_id">&nbsp;</label> {{ form.student_id }} <label for="id_prefix">&nbsp;</label> {{ form.prefix }} <label for="id_first_name">&nbsp; </label> {{ form.first_name }} <label for="id_second_name">&nbsp; </label> {{ form.second_name }} <label for="id_last_name">&nbsp; </label> {{ form.last_name }} <br><br>
            </div>
            <div id="student-personal-info">
                <span class="student-update-section-header">Personal Information</span><br>
                <fieldset>
                    <label for="id_dob">Date Of Birth </label> {{ form.dob }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_gender">Gender </label>{{ form.gender }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_ethnicity">Ethnicity </label> {{ form.ethnicity }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_marital_status">Marital Status </label> {{ form.marital_status }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_email">Email </label> {{ form.email }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_primary_telephone">Primary Telephone Number </label> {{ form.primary_telephone }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_secondary_telephone">Secondary Telephone Number </label> {{ form.secondary_telephone }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_postal_address">Postal Address </label> {{ form.postal_address }} <br><br>
                </fieldset>
            </div>
            <div id="student-academic-info">
                <span class="student-update-section-header">Academic Information</span><br>
                <fieldset>
                    <label for="id_classification">Classification </label> {{ form.classification }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_academic_status">Academic Status </label> {{ form.academic_status }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_enrolled_date">Enrolled Date </label> {{ form.enrolled_date }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_planned_grad_date">Planned Graduation Date </label> {{ form.planned_grad_date }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_degree">Degree </label> {{ form.degree }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_major1">First Major </label> {{ form.major1 }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_major2">Second Major </label>  {{ form.major2 }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_minor1">First Minor </label> {{ form.minor1 }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_minor2">Second Minor </label> {{ form.minor2 }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_conc1">First Concentration </label> {{ form.conc1 }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_conc2">Second Concentration </label> {{ form.conc2 }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_prev_education">Previous education:</label> {{ form.prev_education }} <br><br>
                </fieldset>
            </div>
            <div id="student-kin-info">
                <span class="student-update-section-header">Other Information</span><br>
                <fieldset>
                    <label for="id_kin_name">Next of Kin Name </label> {{ form.kin_name }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_kin_email">Next of Kin Email </label> {{ form.kin_email }} <br><br>
                </fieldset>
                <fieldset>
                    <label for="id_kin_telephone">Next of Kin Telephone Number </label> {{ form.kin_telephone }} <br><br>
                </fieldset>
            </div>
            <div id="student-other-info">
                <span class="student-update-section-header">Comments</span><br>
                <fieldset>
                    <label for="id_comments">Comments </label> <br>
                    {{ form.comments }} <br><br>
                </fieldset>
            </div>
            <input type="submit" id="update-student-button" value="Update Student" />
        </form>
        <br><br>
        {% else %}
        <span class="info">There was a problem retrieving the form. Please refresh the page</span>
        {% endif %}
    <br><br>
    </body>
</html>