<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'registrar/style.css' %}"/>
        <title>Update Course | USIU Registrar</title>
    </head>
    <body>
        <div class="page-header">
            <h2>USIU Africa Registrar Portal</h2>
        </div>
        <nav class="nav-bar">
            <a class="menu-item" href="{% url 'registrar:dashboard' %}">Dashboard</a>
            <a class="menu-item" href="{% url 'registrar:add_course' %}">Add Course</a>
            <a class="menu-item" href="{% url 'registrar:view_course' %}">View Course</a>
            <a class="menu-item" href="{% url 'registrar:view_student' %}">View Student</a>
            <a class="menu-item" href="{% url 'registrar:log_out' %}">Log Out</a>
        </nav>
        <h2 class="content-header">Update Course {% if id %} {{ id }} {% endif %}</h2><hr>
        {% if messages %}
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
        <br><hr><br>
        {% endif %}
        <form  id="update-course-container" action="{% url 'registrar:edit_course' cid=id %}" method="POST">
            {% csrf_token %}
            <div id="primary-course-info">
                <h3 class="update-section-title">Primary Information</h3><br><br><br><br>
                <div class="update-fieldset"><label for="id_course_id">Course ID </label> {{ form.course_id }}<div class="update-right"><label for="id_course_name">Course Name </label> {{ form.course_name }} <br><br></div> </div>
                <div class="update-fieldset"><label for="id_instructor">Instructor </label> {{ form.instructor }} <br><br></div>
                <div class="update-fieldset"><label for="id_semester">Semester </label> {{ form.semester }} <label for="id_year">Year </label> {{ form.year }} <br><br></div>
                <div class="update-fieldset"><label for="id_day">Day </label> {{ form.day }} <div class="update-right"><label for="id_time">Time </label> {{ form.time }} <br><br></div></div>
            </div>
            <div id="secondary-course-info">
                <br><br><h3 class="update-section-title">Secondary Information</h3><br><br><br><br><br><br>
                <div class="update-fieldset"><label for="id_start_date">Start Date </label> {{ form.start_date }} <div class="update-right"><label for="id_end_date">End Date </label> {{ form.end_date }} <br><br></div></div>
                <div class="update-fieldset"><label for="id_location">Location </label> {{ form.location }} <br><br></div>
                <div class="update-fieldset"><label for="id_department">Department </label> {{ form.department }} <br><br></div>
                <div class="update-fieldset"><label for="id_seats">Seats </label> {{ form.seats }} <br><br></div>
            </div><br><br>
            <a id="delete-course-link" href="{% url 'registrar:delete_course' cid=id %}">Delete Course</a><br><br>
            <input type="submit" id="update-button" value="Update Course"/><br><br>
        </form>
    </body>
</html>