<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'registrar/style.css' %}"/>
        <title>View Course | USIU Registrar</title>
    </head>
    <body>
        <div class="page-header">
            <h2>USIU Africa Registrar Portal</h2>
        </div>
        <nav class="nav-bar">
            <a class="menu-item" href="{% url 'registrar:dashboard' %}">Dashboard</a>
            <a class="menu-item" href="{% url 'registrar:add_course' %}">Add Course</a>
            <a class="menu-item" href="{% url 'registrar:view_course' %}">View Course</a>
            <a class="menu-item" href="{% url 'registrar:view_student' %}">View Student</a>
            <a class="menu-item" href="{% url 'registrar:log_out' %}">Log Out</a>
        </nav>
        <h2 class="content-header">View Course</h2><hr>
        <br>
        <form action="{% url 'registrar:view_course' %}" method="POST">
            {% csrf_token %}
            <input class="course_search" type="text" id="semester" name="semester" maxlength="10" title="E.g. Summer, Spring or Fall" placeholder="Semester" required />
            <input class="course_search" type="text" id="year" name="year" maxlength="4" title="E.g. 2016" placeholder="Year" required/>
            <input class="course_search" type="text" id="course-code" name="course-code" maxlength="15" title="E.g. APT 1050" placeholder="Course Code"/>
            <input type="submit" id="course-search-button" value="Find"/><br><br>
            <label for="include_deleted">Include Deleted Courses</label> <input type="checkbox" name="include_deleted" id="include_deleted" title="Include deleted courses?"/>
        </form>
        <br><hr>
        {% if messages %}
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
        <br><hr>
        {% endif %}

        {% if results %}
        <br><hr>
        <table>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Days</th>
                <th>Time</th>
                <th>More</th>
            </tr>
            <tr class="course-results">
                {% for result in results %}
                <td>{{ result.course_id }}</td>
                <td>{{ result.course_name }}</td>
                <td>{{ result.day }}</td>
                <td>{{ result.time }}</td>
                <td><form action="{% url 'registrar:update_course' cid=result.id %}" method="POST">{% csrf_token %}<input type="submit" value="Details"/></form></td>
                {% endfor %}
            </tr>
        </table>
        <br><hr>
        {% endif %}
    </body>
</html>