
/* This is the top section on every page other than index.html */
.page-header {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    background-color: #00264d;
    border: 3px solid white;
    padding: 15px;
    height: 15%;
    width: 100%;
}

/* Navigation bar located on every page except index.html */
.nav-bar {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    color: white;
    background-color: #003166;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    
}

/* Each navigation item. located on every page except index */
.menu-item {
    height: 50px;
    display: table-cell;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.menu-item:link{
    color: white;
}

.menu-item:visited{
    color: white;
}

.menu-item:hover {
    background-color: #ff6600;      /* orange */
}

.content-header {
    font-family: Sergio UI, Verdana, sans-serif;
    font-size: 20px;
    color: orange;
}

/* Class for messages passed back to users e.g. invalid username/password */
.error {
    font-size: 12px;
    color: #b30000;     /* dark red */
}

/* Class for messages passed back to users e.g. successfully logged in */
.success {
    font-size: 14px;
    color: green;
}

/* Class for messages passed back to users e.g. user has been banned */
.warning {
    font-size: 14px;
    color: #cc0000;     /* dark red */
}

.info {
    font-size: 14px;
    color: black;
}

.helptext {
    font-size: 12px;
    color: gray;
}

#username-color {
    color: #00264d;
}

#add-course-container {
    width: 750px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 50px;
}

.add-fieldset {
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 20px;

}

.add-fieldset:hover {
    border-left: 2px solid orange;

}

.add-fieldset input {
    border: none;
    border-bottom: 2px solid orange;
    width: 350px;
    height: 40px;
    float: right;
    margin-right: 30px;
}

.add-fieldset select {
    border: none;
    border-bottom: 2px solid orange;
    width: 350px;
    height: 40px;
    float: right;
    margin-right: 30px;
}

#add-button {
    width: 350px;
    margin-right: 30px;
    float: right;
    background-color: orange;
    border: none;
    font-size: 25px;
}

.course_search {
    line-height: 20px;
}

#course-search-button {
    height: 30px;
    width: 75px;
}
/* ----- view course results ------ */
table{
    width: 100%;
    border-collapse:collapse
}

tr{
    height:50px;
}

tr.course-results td{
    border-bottom: thin dashed black;
    width: 20%;
    text-align: center;
}

tr.course-results:hover{
    background-color: #e6e6e6;  /* light grey */
}
/* ------- view course results end * ----- */

#update-course-container {
    margin-left: 150px;
    width: 900px;
}
#update-course-container label{
    font-family: Courier, Verdana, Arial, sans-serif;
    font-size: 20px;
    border: none;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#update-course-container input{
    font-family: Courier, Verdana, Arial, sans-serif;
    font-size: 20px;
    border: none;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#update-course-container select{
    font-family: Courier, Verdana, Arial, sans-serif;
    font-size: 20px;
    border: none;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#update-course-container input {
    width: 300px;
    font-weight: bold;
    font-size: 22px;
}
#update-course-container select {
    width: 300px;
    font-weight: bold;
    font-size: 22px;
}

.update-fieldset {
    border-bottom: 2px dashed black;
}

.update-right {
    float: right;
}

#delete-course-link {
    color: red;
    text-decoration: none;
    font-size: 14px;
}
.update-section-title {
    float: right;
    font-family: Arial, san-serif;
    font-size: 27px;
    padding: 20px;
    background-color: #a3a3c2;
}
/* Search Student Page */
#student-id-label {
    margin-top: 20px;
    height: 30px;
    margin-left: 40px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
#student_id {
    margin-top: 20px;
    margin-left: 10px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    width: 200px;
}
#find-student-button{
    margin-top: 20px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-left: 15px;
}
/* END search student Page */

/* Student form */

#update-student-form {
    margin-top: 35px;
    margin-left: 50px;
    width: 1000px;
    font-family: Arial, sans-serif;
}

.student-update-section-header {
    font-family: Courier, Verdana, sans-serif;
    font-size: 20px;
    color: orange;
    width: 100%;
    float: right;
    background-color: #00264d;
}

#student-name-info {
    font-family: Arial, sans-serif;
    font-size: 17px;
    height: 50px;
    margin-top: 20px;
    width: 100%;
}
#student-name-info input {
    height: 25px;
    width: 200px;
    border: none;
    font-family: Courier, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#student-name-info select {
    height: 25px;
    border: none;
    width: 90px;
    font-family: Courier, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#student-personal-info {

}

fieldset {
    margin-top: 15px;
    border: none;
}
fieldset label{
    margin-left: 60px;
    font-size: 20px;
}
#student-personal-info input {
    float: right;
    width: 400px;
    height: 40px;
    margin-right: 100px;
    font-family: Courier, Verdana, sans-serif;
    font-size: 20px;
    color: #00264d;
    border: none;
    border-left: 4px solid orange;
}

#student-personal-info select {
    float: right;
    width: 400px;
    height: 40px;
    margin-right: 100px;
    font-family: Courier, Verdana, sans-serif;
    font-size: 20px;
    color: #00264d;
    border: none;
    border-left: 4px solid orange;
}

#student-academic-info {
    margin-top: 25px;
}

#student-academic-info input {
    float: right;
    width: 400px;
    height: 40px;
    margin-right: 100px;
    font-family: Courier, Verdana, sans-serif;
    font-size: 20px;
    color: #00264d;
    border: none;
    border-left: 4px solid orange;
}

#student-academic-info select {
    float: right;
    width: 400px;
    height: 40px;
    margin-right: 100px;
    font-family: Courier, Verdana, sans-serif;
    font-size: 20px;
    color: #00264d;
    border: none;
    border-left: 4px solid orange;
}

#student-kin-info {
    margin-top: 25px;

}

#student-kin-info input {
    float: right;
    width: 400px;
    height: 40px;
    margin-right: 100px;
    font-family: Courier, Verdana, sans-serif;
    font-size: 20px;
    color: #00264d;
    border: none;
    border-left: 4px solid orange;
}

#student-other-info {
    margin-top: 25px;

}

#student-other-info textarea {
    font-family: Courier, Verdana, sans-serif;
    color: #00264d;
    margin-left: 200px;
}

#update-student-button {
    float: right;
    height: 75px;
    width: 200px;
    border: none;
    border-bottom: 2px solid orange;
    background-color: white;
    font-size: 23px;
}

#update-student-button:hover {
    border-radius: 3px;
    border-top: 2px solid #003d99;
    border-bottom: 2px solid #003d99;
}

/* END student form */